body {
  background-color: #f2eaea;
  border: 0px;
}

#getPlaylists,#logOut,#authorize{
  background-color: rgb(43, 220, 229);
font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #ffffff;
  border: 0px;
}


#getPlaylists {
  background-color: rgb(43, 220, 229);
}

#logOut {
  background-color: rgb(43, 180, 229);
  margin-top: 5px;
}

.initial:hover{
  color: #000000;
}

/*#playlists button {
  background-color: #f2eaea
}*/

#playlists button:hover {
  color: #000000;
  background-color: #03DAC6
}

#playlists button{
  height: 80px;
  width:320px;
  margin: 5px;
}
	
#playlists button img{
  float: left;
  margin-top: 0px;
  height: 100%;
}

#playlists button p{
  text-align: left;
}

#playlists button h3{
  text-align: left;
}

#playlists .playlistInfo {
  float: left;
  margin-left: 10px;
}

#choosePlaylist h2 {
  margin-bottom: 5px;
  color: rgb(43, 40, 229);
  text-align: center;
}

#songData img{
  float: left;
  margin-top: 0px;
  height: 80px;
  margin-right: 10px;
}

#songData p{
  text-align: left;
}

#songData h3{
  text-align: left;
}

#songData .playlistInfo {
  position: fixed;
    top: 10px;
  left: 100px
}

#playlistName {
  clear:both;
  margin-top: 10px;
  margin-bottom: 10px;
}

#songData{
  height: 80px;
  width:320px;
  margin: 5px;  
}

